@import "tailwindcss";

@theme {
  --color-primary: rgb(116, 245, 247);
}

article{
  @apply p-8;
}

h2{
  @apply text-xl font-semibold;
}

h3{
  @apply text-lg font-medium;
}

#articleTags{
  @apply text-sm font-medium text-emerald-500;
}
#articleDate{
  @apply text-sm font-normal text-sky-400;
}
#articleContent{
  @apply text-base font-light;
}

#submitbutton {
  @apply bg-blue-300 p-4;
  cursor: pointer;
}

#info-dialog {
  @apply p-5 bg-gray-200;
  position: relative;
  top: 4vw;
  left: 38vw;
}

#close-dialog {
  position: absolute;
  top: 7px;
  right: 12px;
  cursor: pointer;
}

#dialog-form-result{
  @apply text-red-600;
  padding: 15px 20px 15px 15px;
}

.inputFrame {
  border: 3px;
  border-style: solid;
  border-color:rgb(71, 168, 238);
  margin: 8px;
  padding: 2px;
}