@import "tailwindcss";

@theme {
  --color-primary: rgb(116, 245, 247);
}

article{
  @apply p-8;
}

h2{
  @apply text-xl font-semibold;
}

h3{
  @apply text-lg font-medium;
}

#articleTags{
  @apply text-sm font-medium text-emerald-500;
}
#articleDate{
  @apply text-sm font-normal text-sky-400;
}
#articleContent{
  @apply text-base font-light;
}

#submitbutton {
  @apply bg-blue-300 p-4;
  cursor: pointer;
}

.inputFrame {
  border: 3px;
  border-style: solid;
  border-color:rgb(71, 168, 238);
  margin: 8px;
  padding: 2px;
}